.navbarlist {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  background-color: black;
}
.navbarlist li {
  list-style-type: none;
  margin: 0px 5%;
}
.navbarlist li a {
  text-decoration: none;
  font-size: large;
  color: brown;
}
dialog::backdrop {
  background-color: hsla(27, 28%, 23%, 0.25);
  filter: blur(1.5rem);
}
